@import "font-awesome";

ul#instagram_item_images{
	list-style:none;
	li.instagram_items{
		display:inline-block;
		padding:5px;
		max-height: 285px;
		 div.product-image{
		    align-items: center;
		    display: flex;
		    flex-direction: column;
		    justify-content: center;
		    position:relative;
		    text-align: center;
		    min-height:275px;
		    img{
		    	width:100%;
		    	max-height: 275px;
		    }
		    span.shadow{
			    height: 100%;
			    position: absolute;
			    width: 100%;
			    z-index: 2;
			    justify-content: center;
			    display: flex;
			    align-items: center;
			    color: white;
			    flex-direction:column;
			    i{
			    	display:none;
			    }
			    h3{
			    	display:none;
			    	text-transform: uppercase;
				    border: 2px solid white;
				    padding: 5px 10px;
				    border-radius:5px;
			    }
			    span.likes{
				    top: 20px;
				    position: absolute;
				    right: 20px;
				    display:none;
				    i{
				    	margin-right: 5px;
    					margin-top: 3px;
				    }
				}
			}
		    
		}
		&:hover{
		    div.product-image {
				span.shadow{
				   	background-color: rgba(3,3,3,0.5);
				   	h3, span.likes,i{
				    	display:inherit;
				    }
				}
			}
		}
	}
}

div.fancy_instagram_products{
	display:none;
	max-width:80% !important;
	div.instagram_images{
	    text-align: center;
	    padding: 0;
	    img{
	    	max-width:90%;
	    }
	}
	ul.instagram_products{
		list-style: none;
	    padding:0;
		li.instan_product{
			display: inline-block;
		    text-align: center;
		     width: 24%;
		    a.btn.btn-primary{
		    	font-size: 12px;
		    }
		    h6{
		    	font-size:14px;
		    	margin-top: 0;
    			margin-bottom: 0px;
		    }
		    span.price.selling{
		    	font-size:12px;
		    }
		    img{
		    	width:100%;
		    }
		}

	}
	div.instagram_data{
	    font-size:12px;
	}
}

div.fancybox-is-open div.fancy_instagram_products{
    display: inline-flex !important;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
	div.fancybox-is-open div.fancy_instagram_products{
		display: inline-block !important;
	}
	div.fancy_instagram_products{	   
		ul.instagram_products{
			li.instan_product{
			    width: 49%;
			    a.btn.btn-primary {
    				font-size: 10px;
    			}
			}
		}
	}
}